.container {
  display: flex;
  justify-content: center;
}

.profile {
  max-width: 100vh;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 370px;
  box-shadow: 0 0 10px #c6cccced;
  padding-top: 15px;
  border-radius: 10px;
}

.avatar {
  width: 300px;
  box-shadow: 0 0 3px 0px #0000004d;
  border-radius: 50%;
  padding: 20px 10px 0px 10px;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: inherit;
  border-bottom: #7e6f7498 solid 2px;
}

.name {
  font-weight: 700;
  font-size: 30px;
  color: #000;
  margin-bottom: 0px;
}

.tag {
  font-weight: 500;
  font-size: 20px;
  color: #524a4d;
}

.location {
  font-weight: 700;
  font-size: 20px;
  color: #524a4d;
  margin-top: 0px;
}
.stats {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: auto;
  padding: 0;
  width: inherit;
  background-color: #7e6f7449;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.stats > li {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
  min-width: 80px;
  padding: 7px 0;
}

.label {
  margin-right: 3px;
  font-weight: 700;
  font-size: 20px;
  color: #310417b3;
  margin-bottom: 5px;
}

.quantity {
  font-weight: 800;
  font-size: 20px;
  color: #393335;
}
